* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  position: absolute;
  background: transparent;
  z-index: 1;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}
header nav {
  width: 70%;
  height: auto;
}
header nav a {
  text-align: center;
}
header nav .collapseDiv {
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 20px;
  color: white;
}
header nav .number p {
  background-color: orangered;
  color: white;
}

main {
  width: 100%;
  height: auto;
}
main #YourHomeSection {
  background-image: url(/assets/images/home_slider_bcg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 700px;
  display: flex;
  align-items: center;
}
main #YourHomeSection .text {
  display: flex;
  justify-content: center;
}
main #YourHomeSection .text h1 {
  font-size: 70px;
  font-weight: 700;
  color: white;
}
main #featuredSection {
  width: 100%;
  min-height: 700px;
  text-align: center;
}
main #clientsSection {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 700px;
  background-image: url(/assets/images/testimonials_background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
main #clientsSection .content {
  color: white;
  font-size: 15px;
  text-align: center;
}
main #clientsSection .content h1 {
  font-size: 25px;
}
main #clientsSection .images {
  margin: auto;
  text-align: center;
}
main #clientsSection .images img {
  border-radius: 50%;
}
main #clientsSection .pp {
  color: orange;
  text-align: center;
}
main #clientsSection p {
  color: white;
  font-size: 10px;
  text-align: center;
}
main #cardSection {
  text-align: center;
}
main #cardSection h1 {
  font-size: 25px;
  color: black;
}
main #cardSection .images {
  position: relative;
}
main #cardSection .images img {
  width: 100%;
  height: auto;
}
main #cardSection .images .btn {
  position: absolute;
  bottom: 30px;
  left: 40px;
  background-color: orangered;
  color: white;
}